@model digioz.Portal.Web.Models.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Home";
}

@section keywords {
    @if (Model.Page != null && Model.Page.Keywords != null)
    {
        <meta name="keywords" content="@Model.Page.Keywords" />
    }
}

@section description {
    @if (Model.Page != null && Model.Page.Description != null)
    {
        <meta name="description" content="@Model.Page.Description" />
    }
}

@if (Model.Announcements.Any())
{
    @section featured {

        @Html.RenderAction("SlideShow", "Menu", new { zoneType = "BodyTop" })

        <div class="card bg-light mb-3">
            @foreach (var item in @Model.Announcements)
            {
                <div class="card-header">@item.Title</div>
                <div class="card-body">
                    @Html.Raw(item.Body)
                </div>
                <div>
                    @Html.RenderAction("CommentsMenu", "Menu", new { referenceId = item.Id, referenceType = "Announcement" })
                </div>
            }

            <div class="text-center" style="padding-bottom: 20px;">@Html.ActionLink("View More", "Announcements", "Home", null, new { @class = "btn btn-xs btn-primary" })</div>

        </div>
    }
}

@section LatestPictures {
    @Html.RenderAction("LatestPictures", "Menu")
}

@section RSSFeed {
    @Html.RenderAction("RSSFeed", "Menu")
}

@{
    if (Model.Page != null)
    {
        @Html.Raw(Model.Page.Body)
    }

    @Html.RenderAction("CommentsMenu", "Menu", new { referenceId = Model.Page.Id, referenceType = "Page" })
}
