@page "{id}"
@model digioz.Portal.Web.Areas.Admin.Pages.MailingList.DetailsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Mailing List Details";
    Layout = "/Areas/Admin/Pages/Shared/_LayoutAdmin.cshtml";
}

<partial name="_MailingListNav" />

<div class="card shadow-sm">
    <div class="card-header d-flex justify-content-between align-items-center">
        <span>Mailing List Details</span>
        <div>
            <a class="btn btn-sm btn-outline-primary" asp-area="Admin" asp-page="/MailingList/Edit" asp-route-id="@Model.Item?.Id">Edit</a>
            <a class="btn btn-sm btn-outline-secondary" asp-area="Admin" asp-page="/MailingList/Index">Back</a>
        </div>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">@Model.Item?.Name</dd>

            <dt class="col-sm-3">Address</dt>
            <dd class="col-sm-9">@Model.Item?.Address</dd>

            <dt class="col-sm-3">Default From Name</dt>
            <dd class="col-sm-9">@Model.Item?.DefaultFromName</dd>

            <dt class="col-sm-3">Default From Email</dt>
            <dd class="col-sm-9">@Model.Item?.DefaultEmailFrom</dd>

            <dt class="col-sm-3">Description</dt>
            <dd class="col-sm-9">@Model.Item?.Description</dd>
        </dl>
    </div>
</div>
