@model digiozPortal.BO.Link

@{
    ViewBag.Title = "Delete Link";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main>
    <div class="container-fluid">
        <div class="card mb-4">
            <div class="card-header">
                Delete Link
            </div>
            <div class="card-body">
                <h3>Are you sure you want to delete this?</h3>
                <div>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.URL)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.URL)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.Raw(Model.Description)
                        </dd>

                        <dt>
                            Category
                        </dt>

                        <dd>
                            @ViewBag.LinkCategory.Name
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Visible)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Visible)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Timestamp)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Timestamp)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-primary" /> |
                            @Html.ActionLink("Back to List", "List")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>
