@model List<digioz.Portal.Bo.Menu>
@using digioz.Portal.Dal.Services.Interfaces
@inject IPluginService PluginService

<div class="card bg-light mb-3">
    <div class="card-header">Menu</div>
    <div class="card-body">
        <ul>
            @{
                var showPolls = PluginService.GetByName("Polls")?.IsEnabled ?? false;
                var showRss = PluginService.GetByName("RSSFeed")?.IsEnabled ?? false;
            }
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    if (!string.IsNullOrEmpty(item.Controller))
                    {
                        if (!string.IsNullOrEmpty(item.Action))
                        {
                            <li><a href="/@item.Controller/@item.Action">@item.Name</a></li>
                        }
                        else
                        {
                            <li><a href="/Index">@item.Name</a></li>
                        }
                    }
                    else
                    {
                        <li><a href="@item.Url" target="@item.Target">@item.Name</a></li>
                    }
                }

                if (showPolls)
                {
                    <li><a href="/Polls/Index">Polls</a></li>
                }
                if (showRss)
                {
                    <li><a href="/RssFeed/Index">RSS Feed</a></li>
                }
            }
            else
            {
                <li><a href="/Index">Home</a></li>
                if (showPolls)
                {
                    <li><a href="/Polls/Index">Polls</a></li>
                }
                if (showRss)
                {
                    <li><a href="/RssFeed/Index">RSS Feed</a></li>
                }
            }
        </ul>
    </div>
</div>
