<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAuthentication" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Authentication
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseAuthentication" aria-labelledby="headingOne" data-parent="#collapseAuthentication">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="@Url.Action("Index", "UserManager", new { area = "Admin" })">Users</a>
                        <a class="nav-link" href="@Url.Action("Index", "RoleManager", new { area = "Admin" })">Roles</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseContent" aria-expanded="false" aria-controls="collapseContent">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Content
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseContent" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="@Url.Action("Index", "AnnouncementManager", new { area = "Admin" })">Announcements</a>
                        <a class="nav-link" href="@Url.Action("Index", "PageManager", new { area = "Admin" })">Pages</a>
                        <a class="nav-link" href="@Url.Action("Index", "PictureManager", new { area = "Admin" })">Pictures</a>
                        <a class="nav-link" href="@Url.Action("Index", "VideoManager", new { area = "Admin" })">Videos</a>
                        <a class="nav-link" href="@Url.Action("Index", "SlideShowManager", new { area = "Admin" })">Slide Shows</a>
                        <a class="nav-link" href="@Url.Action("Index", "RSSManager", new { area = "Admin" })">News Feed</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCommerce" aria-expanded="false" aria-controls="collapseCommerce">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Commerce
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseCommerce" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="layout-static.html">Orders</a>
                        <a class="nav-link" href="">Products</a>
                        <a class="nav-link" href="">Product Categories</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSocial" aria-expanded="false" aria-controls="collapseSocial">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Social
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseSocial" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="">Chats</a>
                        <a class="nav-link" href="@Url.Action("Index", "LinkManager", new { area = "Admin" })">Links</a>
                        <a class="nav-link" href="">Polls</a>
                        <a class="nav-link" href="">Mailing Lists</a>
                        <a class="nav-link" href="">Comments</a>
                        <a class="nav-link" href="">Forums</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSettings" aria-expanded="false" aria-controls="collapseSettings">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Settings
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseSettings" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="">Configurations</a>
                        <a class="nav-link" href="">Plugins</a>
                        <a class="nav-link" href="">Modules</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="false" aria-controls="collapseUtilities">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Utilities
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseUtilities" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="">Database</a>
                        <a class="nav-link" href="">File Manager</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            @User.Identity.Name
        </div>
    </nav>
</div>