@model List<digioz.Portal.Bo.Menu>

    <ul class="navbar-nav mr-auto">
        @if (Model != null)
        {
            var controllerSelected = ViewContext.RouteData.Values["Controller"].ToString();
            var actionSelected = ViewContext.RouteData.Values["Action"].ToString();

            foreach (var item in Model)
            {
                if (!string.IsNullOrEmpty(item.Controller))
                {
                    if (controllerSelected == item.Controller && actionSelected == item.Action)
                    {
                        <li class="nav-item active">
                            @Html.ActionLink(@item.Name, @item.Action, @item.Controller, new { area = "" }, new { @class = "nav-link" } )
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink(@item.Name, @item.Action, @item.Controller, new { area = "" }, new { @class = "nav-link" } )
                        </li>
                    }
                }
                else
                {
                    <li class="nav-item"><a class="nav-link" href="@item.Url" target="@item.Target">@item.Name</a></li>
                }
            }
        }
        else
        {
            <li class="nav-item active">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" } )</li>
        }
    </ul>