@model List<digioz.Portal.Bo.Menu>

<ul class="navbar-nav mr-auto">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            if (!string.IsNullOrEmpty(item.Controller))
            {
                <li class="nav-item">
                    <a asp-action="@item.Action" asp-controller="@item.Controller" asp-area="" class="nav-link">@item.Name</a>
                </li>
            }
            else
            {
                <li class="nav-item"><a class="nav-link" href="@item.Url" target="@item.Target">@item.Name</a></li>
            }
        }
    }
    else
    {
        <li class="nav-item active">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
    }
</ul>
