@model digioz.Portal.Bo.Page

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Delete Page</h2>

            <h4>Are you sure you want to delete this?</h4>
            <div>
                <table class="table border-bottom">
                    <tr>
                        <td class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.Title)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Title)
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.Url)
                        </td>

                        <td class="font-weight-bold">
                            @Html.DisplayFor(model => model.Url)
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.Body)
                        </td>

                        <td>
                            @Html.Raw(Model.Body)
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.Keywords)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Keywords)
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.Description)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Description)
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.Visible)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Visible)
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.Timestamp)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Timestamp)
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">
                            Username
                        </td>

                        <td>
                            @ViewBag.UserName
                        </td>
                    </tr>
                </table>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-primary" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>
        </div>
    </div>
</div>


