@model IEnumerable<digioz.Portal.Bo.Poll>
@{
    ViewBag.Title = "Polls";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewBag.Title = "Product Categories";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main>
	<div class="container-fluid">
		<div class="card mb-4">
			<div class="card-header">
				<h2>Poll Manager</h2>
			</div>
			<div class="card-body">
				<p>
					<a class="btn btn-sm btn-primary" href="@Url.Action("Create", "PollManager", new { area = "Admin" })">Create New</a>
				</p>

				<table class="table">
					<tr>
						<th>
							Poll Name
						</th>
						<th>
							@Html.DisplayNameFor(model => model.DateCreated)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.IsClosed)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Featured)
						</th>
						<th>
							Multi-Option
						</th>
						<th></th>
					</tr>

					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Slug)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.DateCreated)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.IsClosed)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Featured)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.AllowMultipleOptionsVote)
							</td>
							<td>
								<a href="@Url.Action("Details", new { id = item.Id })"><img class="sb-nav-link-icon" src="~/img/images/icons/16x16/Search.png" alt="Details" /></a>
								<a href="@Url.Action("Edit", new { id = item.Id })"><img class="sb-nav-link-icon" src="~/img/images/icons/16x16/Edit.png" alt="Edit" /></a>
								<a href="@Url.Action("Delete", new { id = item.Id })"><img class="sb-nav-link-icon" src="~/img/images/icons/16x16/Cancel.png" alt="Delete" /></a>
							</td>
						</tr>
					}

				</table>
			</div>
		</div>
	</div>
</main>


