@model digioz.Portal.Bo.LinkCategory

@{
    ViewBag.Title = "Delete Category";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Delete Category</h2>
            <h3>Are you sure you want to delete this?</h3>
            <div>
                <table class="table border-bottom">
                    <tr>
                        <td class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Name)
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.Visible)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Visible)
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.Timestamp)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Timestamp)
                        </td>
                    </tr>
                </table>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-primary" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>
        </div>
    </div>
</div>

