@model digioz.Portal.Bo.ViewModels.WhoIsOnlineViewModel

@if (Model.WhoIsOnlineEnabled)
{
    <div class="card bg-light mb-3">
        <div class="card-header">Online</div>
        <div class="card-body">
            <div>
                <span><b>Visitors: </b></span>@Model.TotalOnlineCount<br />
                @if (Model.RegisteredVisitors.Count > 0)
                {
                    <span><b>Logged In: </b></span>
                    @for (int i = 0; i < Model.RegisteredVisitors.Count; i++)
                    {
                        var visitor = Model.RegisteredVisitors[i];
                        <a asp-page="/Profile/Details" asp-route-userId="@(visitor.Profile?.DisplayName ?? visitor.Username)">@(visitor.Profile?.DisplayName ?? visitor.Username)</a>@(i < Model.RegisteredVisitors.Count - 1 ? ", " : "")
                    }
                    <br />
                }
                @if (Model.Bots.Count > 0)
                {
                    <span><b>Bots: </b></span>
                    @for (int i = 0; i < Model.Bots.Count; i++)
                    {
                        var bot = Model.Bots[i];
                        <span title="@bot.UserAgent (@bot.IpAddress)">@bot.BotName</span>@(i < Model.Bots.Count - 1 ? ", " : "")
                    }
                }
            </div>
        </div>
    </div>
}