@model IEnumerable<digioz.Portal.Bo.MailingListSubscriber>

@{
    ViewBag.Title = "Subscriber Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main>
    <div class="container-fluid">
        <div class="card mb-4">
            <div class="card-header">
                <h2>User Manager</h2>
            </div>
            <div class="card-body">
                <h2>Subscriber Index</h2>

                <p>
                    <a class="btn btn-sm btn-primary" href="@Url.Action("Create", "MailingListSubscriberManager", new { area = "Admin" })">Create New</a>
                    <a class="btn btn-sm btn-primary" href="@Url.Action("Index", "MailingListManager", new { area = "Admin" })">Mailing List Menu</a>
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateCreated)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateModified)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateModified)
                            </td>
                            <td>
                                <a href="@Url.Action("Details", new { id = item.Id })"><img class="sb-nav-link-icon" src="~/img/images/icons/16x16/Search.png" alt="Details" /></a>
                                <a href="@Url.Action("Edit", new { id = item.Id })"><img class="sb-nav-link-icon" src="~/img/images/icons/16x16/Edit.png" alt="Edit" /></a>
                                <a href="@Url.Action("Delete", new { id = item.Id })"><img class="sb-nav-link-icon" src="~/img/images/icons/16x16/Cancel.png" alt="Delete" /></a>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</main>
