<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DigiOz .NET Portal</title>
    @if (IsSectionDefined("keywords")) {@RenderSection("keywords")}
    @if (IsSectionDefined("description")) {@RenderSection("description")}
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Head", required: false)
</head>
<body>
    <!-- Powered by DigiOz .NET Portal -->
    <!-- For more information visit http://www.digioz.com -->
    <div class="container">
        <div style="padding-left:20px;">
            <a href="/"><img src="~/img/images/Logo_Small.png" alt="DigiOz Portal" /></a>
            <h1 style="position:absolute; top:20px;">&nbsp;</h1><br /><br />
        </div>
    </div>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="#">DigiOz .NET Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            
                @Html.RenderAction("TopMenu", "Menu", new { area = "" })
            
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container body-content">
        <div class="row">
            <div class="col-md-3">

                @Html.RenderAction("LeftMenu", "Menu", new { area = "" })

                @Html.RenderAction("UserMenu", "Menu", new { area = "" })

                @Html.RenderAction("WhoIsOnlineMenu", "Menu", new { area = "" })

                @Html.RenderAction("ZoneMenu", "Menu", new { area = "", zoneType = "Left" })

            </div>
            <div class="col-md-9">

                @Html.RenderAction("ZoneMenu", "Menu", new { area = "", zoneType = "BodyTop" })

                @RenderSection("featured", required: false)

                @RenderSection("LatestPictures", required: false)

                @RenderSection("RSSFeed", required: false)

                <div class="card bg-light mb-5">
                    <div class="card-header" style="background-color:#428BCA;color:#ffffff;">@ViewBag.Title</div>
                    <div class="card-body">
                        @RenderBody()
                    </div>
                </div>

                @Html.RenderAction("ZoneMenu", "Menu", new { area = "", zoneType = "BodyBottom" })
            </div>
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DigiOz .NET Portal</p>
        </footer>
    </div>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
