@model digioz.Portal.Bo.Video

@{
    ViewBag.Title = "Edit Video";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Edit Video</h2>

            @using (Html.BeginForm("EditPosted", "VideoManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Video</h4>
                    <hr />
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserId, "UserId", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("UserId", String.Empty)
                            @Html.ValidationMessageFor(model => model.UserId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AlbumId, "AlbumId", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("AlbumId", String.Empty)
                            @Html.ValidationMessageFor(model => model.AlbumId)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label col-md-2" style="font-weight:bold;">Thumbnail</div>
                        <div class="col-md-10">
                            <input type="file" name="file" id="file" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label col-md-2" style="font-weight:bold;">Video</div>
                        <div class="col-md-10">
                            <input type="file" name="fileVideo" id="fileVideo" />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Approved, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Approved)
                            @Html.ValidationMessageFor(model => model.Approved)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Visible, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Visible)
                            @Html.ValidationMessageFor(model => model.Visible)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>



<div>
    @Html.ActionLink("Back to List", "VideoList")
</div>
